
/* signup page */
#signupin{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-image:url("../images/img3.jpg");
    background-color: rgba(0, 0, 0,0.7);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
form{
    width: 30vw;
}
form div label{
    color: white;
}
.error{
    color:white;
    min-height: 25px;
}
.displayBadge{
    margin-top: 5px;
    display: none; 
    text-align :center;
}